/* App.css */

/* Main section styling */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff; /* White background */
}

/* Container styling */
.container {
  width: 320px; /* Adjust width as needed */
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

/* Heading styling */
.h1, .login-success{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #0473EA; /* Dark blue text color */
}

.verify-phone2{
  margin: 10px 10x;
  align-items: center;
}

enter-otp{
  color: #0473EA;
}

/* Label styling */
label {
  font-size: 18px;
  font-weight: bold;
  color: #1a458e; /* Dark blue text color */
}

/* OTP input container styling */
.opt-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Button styling */
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #38d200; /* Green button background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #38d200; /* Darker green on hover */
}

/* Spinner animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}