/* Speech Component CSS */

.form-container {
  max-width: 400px;
  margin: 50px auto 0; /* Add 50px margin-top */
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  
  .voice-label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .voice-select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .control-group {
    margin-bottom: 15px;
  }
  
  .control-label {
    font-weight: bold;
  }
  
  .range-input {
    width: 100%;
    margin-top: 5px;
  }
  
  .message-label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .message-textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .speak-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 250px;
  }
  
  .speak-button:hover {
    background-color: #0056b3;
  }
  
  .stop-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 250px;
  }
  
  .stop-button:hover {
    background-color: #c82333;
  }
  
  